.header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: #d5dce0;
    margin-bottom: 50px;
    background-color: rgb(18, 14, 224);
    padding: 2%;
  }

.p {
  background-color: orangered;
  color: white;
  border: 2px solid gray;
  padding: 10px;
}

